/**
* Variables
**/
$background-color: #f4f8f8;
$primary-color: #0066EB;
$secondary-color: #01C1FA;
$dark-blue: #3558AB;
$secondary-color: #000C27;
$color-error: red;
$kbd-border-radius: 10px; // Borders of vuetify
$text-field-border-radius: 8px; // Borders of vuetify

// Colors
$white: #ffffff;
$menu-color: #313945;